@import "reset";
@import "variables";

body{
	font-family: $fuente-ppal;
}

.navbar{
	padding: 10px 0px;
	margin: 0px;
	box-shadow: none;
}

.navbar-default{
	background: white;
	border: none;
	border-radius: 0px;
	.navbar-nav{
		li{
			a{
				color: black;
				border: none;
				&:hover{
					color: blue;
				}
			}
		}
	}
	/*
	img{
		-webkit-transition: 2s;
		-moz-transition: 2s;
		transition: 2s;
		opacity: 1;
		&:hover{
			opacity: 0.7;
			-webkit-transition: 1s;
			-moz-transition: 1s;
			transition: 1s;
		}
	}
	*/
}
